
/* 主题色 */
$themeColor: #3A82FE;

$viewColor:#4261b7;
$viewPrimaryColor: #526891;
$viewBackgroundColor: #e4eaf5;

$menuColor:#647787;
$menuActiveBgColor:#DBE4EE;
$menuHoverBgColor:#C8DCF4;
$topMenuActiveColor: #244993;
$tableColor:#F4F8FF;

$commonFontColor:#313841;
$borderColor:#dcdfe6;

$MiniFontSize:12px;
$placeholderColor:#ABB0B5;
